body {
  text-align: center;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.3rem;
  border: 2px solid blue;
  color: black;
  margin-right: 1rem;
}

p {
  font-size: 2rem;
}

span {
  color: blue;
  font-weight: 600;
}

p.desc {
  font-size: 1.3rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.error {
  font-size: 7rem;
  margin: 2rem;
  color: blue;
}
